<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site Profissional</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="script.js"></script>
     <header>
        <p>Bem-vindo ao meu site profissional</p>
    </header>
    
    <div class="container">
        <h2 class="sozinho">Apresentação Pessoal</h2>
        <br>
        <div class="imagens">
            <h2>Gustavo Estevam Cocchi</h2>
            <div class="imagem">
                <img src="imgs/cocchi.png" alt="cocchi">
                <p>Olá! Meu nome é Gustavo Estevam Cocchi, e sou estudante da Fiap School e estou no último ano do ensino médio técnico.</p>
            </div>
             <h2>João Pedro Sassarrão</h2>
            <div class="imagem">
                <img src="imgs/eu.jpg" alt="joni">
                <p>Olá! Meu nome é João Pedro Sassarrão e sou estudante da Fiap School e estou no último ano do ensino médio técnico.</p>
            </div>
             <h2>Pedro Munhoz</h2> 
            <div class="imagem">
                <img src="imgs/munhoz.jpg" alt="munhoz">
                <p>Olá! Meu nome é Pedro Munhoz e sou estudante da Fiap School e estou no último ano do ensino médio técnico.</p>
            </div>
        </div>
     <section>
        <h2>Principais Habilidades</h2>
        <div class="card">
            <h3>HTML</h3>
            <p>HTML Básico</p>
        </div>
        <div class="card">
            <h3>CSS</h3>
            <p>CSS Básico</p>
        </div>
        <div class="card">
            <h3>JavaScript</h3>
            <p>JavaScript Básico</p>
        </div> 
        </section>
    <div>  
        <h2>Formulário de Contato</h2>
        <form>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" required><br>
            <label for="email">Email:</label>
            <input type="email" name="email" required><br>
            <label for="mensagem">Mensagem:</label><br>
            <textarea id="mensagem" name="mensagem" rows="4" required></textarea><br>
            <input type="submit" value="Enviar">
        </form>
    </div>
    </div>
     <footer>
        <p>
        &copy; 2024 - Todos os direitos reservados | Desenvolvido por Gustavo João Pedro Sassarrão, Estevam Cocchi e Pedro Munhoz
        </p>
    </footer>
</body>
</html>